
.container{
    display:flex;
    background-color: black;
    width:100%;
}
ul{
    display:flex;
    width:100%;
}ul li{
    padding:1%;
    margin: 1%;
    text-decoration: none;
    list-style: none;
    color:aliceblue;
    width: 80%;

}
nav{
    display:flex;
    width:100%;
}
li:hover{
background-color:rgb(232, 231, 231);
color:black;
border-radius: 10px;
}
h2{
    color:aliceblue;
    padding-left:3px;
    font-size:xx-large;
}
body{
    width:100%;
    height: 100px;
    background: linear-gradient(45deg,rgb(22, 22, 22),rgb(47, 46, 46));
}
.dev{
    color:orangered;
}
.container1{
    display:flex;
    width:100%;
}
h3{
    color:aliceblue;
    font-size:larger;
}
.frm{
    
    margin:10% 3% 10% 13%;
    background: linear-gradient(black);
    padding:15px;
    border-radius: 10px;
    align-items: center;
    min-width:40%;
    width:50%;
    text-align: center;
    font-size: larger;
    max-width: 30%;
}
.bd{
    margin:10% 0% 10% 10%;
    min-width: 10%;
    height: 70%;
    max-width: 50%;
    font-size:x-large;
    
   
}
input{
    text-decoration: none;
    color: white;
    background-color:black;
    width:80%;
    
}
.frm h2{
    color:orangered;
    
}
button{
background-color: orangered;
color:black;
align-items: center;
padding: 3px 20px;

}
a{
    color:orangered;
}
.sig{
   align-items: center; 
   margin:10% 30%;
   padding:20px 20px;
   background: linear-gradient(black);
   
   min-width:fit-content;
   border-radius: 10px;
   justify-content: center;
   width:40%;
   text-align: center;
   
}
.sig h2{
    color:orangered;
    
}
.sig input{
    width:80%;
    min-width:fit-content;
    margin:5% 5%;
}


 
 button:hover{
    background-color:rgb(167, 4, 4);

 }
 .frm:hover{
    box-shadow: 0px 1px 3px rgb(243, 237, 230);
 }

 .sig:hover{
     box-shadow: 0px 1px 3px rgb(243, 237, 230);
 }